block footer
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&libraries=places')
    script(type='text/javascript', src='/js/gmaps.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui-1.10.1.custom.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/moment.min.js')
    script(type='text/javascript', src='/js/moment.lang-all.js')
    script(type='text/javascript', src='/js/app.js')
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36321801-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    block script
